<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>
	<p>
		<strong>尊敬的高校领导、老师：</strong>
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; 您好！
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; 斯坦福大学专业发展中心（Stanford Center for Professional Development）和奥斯坦汀国际研究院（Outstanding International deucation Institute）将携手于2019年11月17日在四川省-成都市-四川创联国培中心，举办2019全球创新创业教育研究峰会。届时我们将领略来自斯坦福大学现任教授及专家与我们分享关于创新创业教育的前沿风向，除此之外，我们还邀请到了来自全球最大的教育集团Pearson教育集团大中华区总裁来与我们共同分享，新世纪人才发展趋势及全球学习者调查报告。
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; 本次分享会议为免费参加，会议主题及日程（详见附件2019国际创新创业教育论坛邀请函）。
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; 同时，为了更好的配合高校开展创新创业教育，使高校能够深度学习国际顶尖高校创新创业教育的典型经验和做法，加强国际高校之间创新创业教育的交流合作，我们特地邀请了来自国内各类高校代表及创新创业教育专家，分享教学经验。通过充分交流，共同探讨高校创新创业教育的国际视野与新做法、新方向。
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; 在此，诚挚邀请您前来参会，也欢迎您随时致电会务组--郭老师进行咨询，联系电话13681433318。
	</p>
	<p>
		<br />
	</p>
	<p style="text-align:right;">
		北京奥特思鼎国际教育投资有限公司
	</p>
	<p style="text-align:right;">
		2019年11月11日
	</p>
</p>
<p>
	<br />
</p>
<hr />
<div style="text-align:center;">
	<img src="cid:{{ image_file_name }}" alt="" />
</div>

</body>
</html>
